.leaderBoardContainer {
  height: 85dvh;
  background-color: rgb(86, 197, 176);
  padding: 1em;
  margin: 1em;
  border: double 0.5em rgb(24, 61, 61);
  border-radius: 1em;
  justify-self: center;
  margin-bottom: 2em;
  text-align: center;
}


.leaderBoardTable {
  margin-top: 2em;
  border-collapse: collapse;
  width: 100%;
}

.leaderBoardEntryCell {
  padding: 0.5em;
  border: 1px solid  rgb(24, 61, 61);
  font-size: 4.5vw;
  color: #360323;
}

.leaderBoardHeader {
  background-color:  rgb(50, 142, 142);
  font-size: 5vw;
  color: rgb(13, 35, 35);
  padding: 1em;
  border: 1px solid rgb(24, 61, 61);
}

.leaderBoardRow {

  
}

