.gameContainer {
  display: grid;
  height: 90dvh;
  grid-template-rows: 0.5fr 11.5fr;
  background: linear-gradient(
    0deg,
    rgb(148, 56, 56),
    rgb(151, 17, 228),
    rgb(0, 0, 0)
  );
  background-color: rgb(235, 58, 117);
  box-shadow: inset 0px 0px 3em 0.5em;
}



@media screen and (min-width: 1024px) {
  .gameContainer {
    grid-template-rows: 1fr;
    grid-template-columns: 3fr 9fr;
  }

  .gameInfoContainer{
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
}
