.headerContainer {
  grid-row: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  height: 10dvh;
}

.navbarContainer {
  display: flex;
  justify-content: space-evenly;
  grid-column: 1;
  grid-row: 2;
}

.titleContainer {
  grid-row: 1;
  padding: 1em;
}

.gameTitle {
  color: rgb(211, 181, 15);
  text-shadow: rgb(138, 5, 45) 0.05em 0.09em 0.05em;
  text-decoration-color: red;
  text-decoration: double;
  text-decoration-line: underline;
  text-decoration-thickness: 0.05em;
  text-underline-offset: 0.1em;
}

@media screen and (min-width: 768px) {
  .gameTitle {
    font-size: 10vw;
    text-shadow: rgb(138, 5, 45) 0.05em 0.05em 0.05em;
  }
}

@media screen and (min-width: 1024px) {
  .gameTitle {
    grid-column: 1;
    grid-row: 1;
    font-size: 6vw;
    text-shadow: rgb(138, 5, 45) 0.05em 0.05em 0.05em;
  }

  .headerContainer {
    justify-content: center;
    min-width: max-content;
  }
}

/* 
 @media screen and (min-width:1200px) {
  
  .gameTitle {
    grid-column: 1;
    grid-row: 1; 
    font-size: 7vw;
    text-shadow:rgb(138, 5, 45) 0.05em 0.05em 0.05em;
 }

  .headerContainer {
    justify-content: center;
    min-width:max-content;
  }
}


@media (orientation: landscape) and (max-height: 850px) {
  .gameTitle {
    grid-column: 1;
    grid-row: 1; 
    font-size: 6vw;
    text-shadow:rgb(138, 5, 45) 0.05em 0.05em 0.05em;
 }

  .headerContainer {
    justify-content: center;
    min-width:max-content;
  }
}
 */
