.cardsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0.5em 0em 0.5em 0em;
  overflow: hidden;
}

.nineCardsContainer{
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-evenly;
padding: 1em 1em 1em 1em;
}