
.cardContainer{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    align-self: center;
    background-color: orange;
    border:solid 1px;
    border-radius:5px;
    font-size: small;
    height: 140px;
    width: 90px;
    margin: 0.5em;
}

.cardImage{
    max-height:50px;
}

