.gameWonWindow {
    background-color: rgb(201, 230, 255);
    position: absolute;
    justify-self: center;
    align-self: center;
    z-index: 3;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    border: solid;
    border-radius: 15px;
    padding: 1em;
    animation: menuAppear 1s;
    box-shadow: 1px 5px 5px 1px;
  }