.gameDisplay {
  display: grid;
  height: 100vh;
  grid-template-rows: 1fr 0.1fr 11fr;
  background:linear-gradient(0deg, rgb(148, 56, 56), rgb(151, 17, 228), rgb(0, 0, 0));
  background-color: rgb(235, 58, 117);
  box-shadow:inset 0px 0px 3em 0.5em ;
 
}


@media screen and (min-width:1200px){
  .gameDisplay {
    grid-template-columns: 2fr 10fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
}

@media (orientation: landscape) and (max-height: 600px) {
  .gameDisplay {
    grid-template-columns: 2fr 10fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
}