.headerContainer {
  grid-row: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em 0em 1em 0em;
  min-width: 320px;
}

.navbarContainer {
  display: flex;
  justify-content: space-evenly;
  grid-column: 1;
  grid-row: 2;
}

.titleContainer {
  grid-row: 1;
  margin: 0;
}

.gameTitle {
  color: rgb(15, 127, 202);
  text-shadow: rgb(0, 238, 255) 1px 3px 1px;
}
