.headerContainer {
  grid-row: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em 0em 1em 0em;
  min-width: 320px;
}

.navbarContainer {
  display: flex;
  justify-content: space-evenly;
  grid-column: 1;
  grid-row: 2;
}

.titleContainer {
  grid-row: 1;
  margin: 0;
}

.gameTitle {
  color: rgb(211, 181, 15);
  text-shadow:rgb(138, 5, 45)  2px 2px 1px;
  text-decoration-color: red;
  text-decoration: double ;
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 10px ;
}


@media screen and (min-width:768px) {

  .gameTitle {
     font-size: 14vw;
     text-shadow:rgb(138, 5, 45)  4px 4px 1px;
  }
 }

 @media screen and (min-width:1200px) {
  
  .gameTitle {
    grid-column: 1;
    grid-row: 1; 
    font-size: 7vw;
    text-shadow:rgb(138, 5, 45)  4px 4px 1px;
 }

  .headerContainer {
    justify-content: center;
    width:100%;
    min-width:max-content;
    padding:1em;
  }


}